---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
# Force pointers to the type for C++.
IndentPPDirectives: AfterHash
DerivePointerAlignment: false
PointerAlignment: Left
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: true
NamespaceIndentation: None
FixNamespaceComments: true
AccessModifierOffset: -4
AlignTrailingComments: false
ConstructorInitializerIndentWidth: 4
AlignEscapedNewlinesLeft: true
PenaltyReturnTypeOnItsOwnLine: 100
ColumnLimit: 100
IncludeBlocks: Preserve
AlignAfterOpenBracket: AlwaysBreak
IndentCaseBlocks: true
SortIncludes: true
SortUsingDeclarations: true
UseTab: Never
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  SplitEmptyFunction: false
  AfterControlStatement: Always
  AfterFunction: true
  AfterNamespace: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  # BeforeLambdaBody: true
  # BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false