.gitignore
.vscode
.github
**/node_modules/
!**/node_modules/vue
test-data/
**/tsconfig.json
esbuild.config.mjs
**/tsconfig.base.json
**/package.json
**/package-lock.json
!package.json
emsdk/
slang-repo/
spirv-tools/
*.zip
*.vsix
**/*.map
*.md
**/*.sh
**/*.gif
**/*.ts
**/*.vue
!CHANGELOG.md
!README.md