---
---

@import "{{ site.theme }}";
blockquote p {
    font-size: 16px;
    font-weight: 600;
}

ol {
  counter-reset: section;
  list-style-type: none;
}

li:before {
  counter-increment: section;
  content: counters(section, ".") " ";
}