<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".mjs" mimeType="application/x-javascript" />
            <mimeMap fileExtension=".slang" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
