name: MDL Benchmark

on:
  pull_request:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "LICENSES/**"
      - "LICENSE"
      - "CONTRIBUTING.md"
      - "README.md"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: [Windows, self-hosted, benchmark]
    permissions:
      id-token: write
      contents: read
    env:
      IS_FORK_PR: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == true }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
          fetch-depth: "0"

      - name: Authenticate to Google Cloud
        if: env.IS_FORK_PR != 'true'
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/125098404903/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider"
          service_account: "github-ci@slang-runners.iam.gserviceaccount.com"

      - name: Common setup
        uses: ./.github/actions/common-setup
        with:
          os: windows
          compiler: cl
          platform: x86_64
          config: release
          build-llvm: true
      - name: Build Slang
        run: |
          cmake --preset default --fresh -DSLANG_SLANG_LLVM_FLAVOR=USE_SYSTEM_LLVM -DCMAKE_COMPILE_WARNING_AS_ERROR=false
          cmake --workflow --preset release
      - uses: actions/checkout@v4
        with:
          repository: "shader-slang/MDL-SDK"
          path: "external/MDL-SDK"
          sparse-checkout: |
            ./examples/mdl_sdk/dxr/content/slangified
      - name: Run benchmark
        run: |
          cd tools/benchmark
          cp ../../external/MDL-SDK/examples/mdl_sdk/dxr/content/slangified/*.slang .
          pip install prettytable argparse
          python compile.py --samples 1 --target dxil
