name: Compile Regression-Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    timeout-minutes: 100
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        include:
          # Self-hosted falcor tests
          - os: windows
            compiler: cl
            platform: x64
            config: release
            warnings-as-errors: false
            test-category: full
            full-gpu-tests: false
            runs-on: [Windows, self-hosted, regression-test]
    runs-on: ${{ matrix.runs-on }}
    defaults:
      run:
        shell: bash
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
        fetch-depth: '0'
    - name: Setup
      uses: ./.github/actions/common-setup
      with:
        os: ${{matrix.os}}
        compiler: ${{matrix.compiler}}
        platform: ${{matrix.platform}}
        config: ${{matrix.config}}
    - name: Build Slang
      run: |
        cmake --preset default --fresh \
          -DSLANG_SLANG_LLVM_FLAVOR=USE_SYSTEM_LLVM \
          -DCMAKE_COMPILE_WARNING_AS_ERROR=${{matrix.warnings-as-errors}} \
          -DSLANG_ENABLE_CUDA=1
        cmake --workflow --preset "${{matrix.config}}"
    - name: Run compile and validation test
      run: |
        cp -r /c/slang_compile_test_suite_a .
        cd slang_compile_test_suite_a
        export SLANGC_PATH="$bin_dir/slangc.exe"
        which spirv-val || echo "no spirv-val"
        which spirv-val.exe || echo "no spirv-val.exe"
        spirv-val --version
        bash ./compile_all_slang.sh
