name: Compile Regression-Test

on:
  workflow_dispatch:
  push:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "LICENSES/**"
      - "LICENSE"
      - "CONTRIBUTING.md"
      - "README.md"
  pull_request:
    branches: [master]
    paths-ignore:
      - "docs/**"
      - "LICENSES/**"
      - "LICENSE"
      - "CONTRIBUTING.md"
      - "README.md"
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build:
    timeout-minutes: 100
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        os: [windows]
        config: [release]
        compiler: [cl]
        platform: [x86_64]
        include:
          # Self-hosted falcor tests
          - warnings-as-errors: true
            test-category: full
            full-gpu-tests: false
            runs-on: [Windows, self-hosted, regression-test]
    runs-on: ${{ matrix.runs-on }}
    permissions:
      id-token: write
      contents: read
    env:
      IS_FORK_PR: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == true }}
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"
          fetch-depth: "0"

      - name: Authenticate to Google Cloud
        if: env.IS_FORK_PR != 'true'
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/125098404903/locations/global/workloadIdentityPools/github-actions-pool/providers/github-provider"
          service_account: "github-ci@slang-runners.iam.gserviceaccount.com"

      - name: Setup
        uses: ./.github/actions/common-setup
        with:
          os: ${{matrix.os}}
          compiler: ${{matrix.compiler}}
          platform: ${{matrix.platform}}
          config: ${{matrix.config}}
          build-llvm: true
      - name: Build Slang
        run: |
          cmake --preset default --fresh \
            -DSLANG_SLANG_LLVM_FLAVOR=USE_SYSTEM_LLVM \
            -DCMAKE_COMPILE_WARNING_AS_ERROR=${{matrix.warnings-as-errors}} \
            -DSLANG_ENABLE_CUDA=1
          cmake --workflow --preset "${{matrix.config}}"
      - name: Run compile and validation test
        run: |
          cp -r /c/slang_compile_test_suite_a .
          cd slang_compile_test_suite_a
          export SLANGC_PATH="$bin_dir/slangc.exe"
          bash ./compile_all_slang.sh
