on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

name: centos7-gcc9 Release
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
        with:
          submodules: 'true'
          fetch-depth: '0'

      # build the binary in docker image
      - name: Run the build process with Docker
        uses: addnab/docker-run-action@v3
        with:
            image: slangdeveloper/centos7-gcc9
            options: -v ${{ github.workspace }}:/home/app -v /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt
            run: |
              source /opt/rh/devtoolset-9/enable
              cd /home/app
              git config --global --add safe.directory /home/app
              export CC=gcc
              export CONFIGURATION=release
              export ARCH=x64
              export TARGETARCH=x64
              export TARGETARCH=x64
              export GLIBC_COMPATIBLE=1
              /bin/bash ./github_build.sh

      - name: CreatePackages
        id: build
        run: |
            echo "creating binary archieves..."
            export SLANG_OS_NAME=linux
            export SLANG_ARCH_NAME=`uname -p`
            export TAG_NAME=`git describe --tags`
            export SLANG_TAG=${TAG_NAME#v}
            echo "tag:$TAG_NAME"
            echo "slang-tag:$SLANG_TAG"
            export SLANG_BINARY_ARCHIVE=slang-${SLANG_TAG}-${SLANG_OS_NAME}-${SLANG_ARCH_NAME}-glibc-2.17.zip
            export SLANG_BINARY_ARCHIVE_TAR=slang-${SLANG_TAG}-${SLANG_OS_NAME}-${SLANG_ARCH_NAME}-glibc-2.17.tar.gz
            echo "creating zip"
            zip -r ${SLANG_BINARY_ARCHIVE} bin/*/*/slangc bin/*/*/slangd bin/*/*/libslang.so bin/*/*/libslang-glslang.so bin/*/*/libgfx.so bin/*/*/libslang-llvm.so docs/*.md README.md LICENSE slang.h slang-com-helper.h slang-com-ptr.h slang-tag-version.h slang-gfx.h prelude/*.h
            echo "creating tar"
            tar -czf ${SLANG_BINARY_ARCHIVE_TAR} bin/*/*/slangc bin/*/*/slangd bin/*/*/libslang.so bin/*/*/libslang-glslang.so bin/*/*/libgfx.so bin/*/*/libslang-llvm.so docs/*.md README.md LICENSE slang.h slang-com-helper.h slang-com-ptr.h slang-tag-version.h slang-gfx.h prelude/*.h
            echo "SLANG_BINARY_ARCHIVE=${SLANG_BINARY_ARCHIVE}" >> $GITHUB_OUTPUT
            echo "SLANG_BINARY_ARCHIVE_TAR=${SLANG_BINARY_ARCHIVE_TAR}" >> $GITHUB_OUTPUT
      # - name: UploadBinary
      #   uses: softprops/action-gh-release@v1
      #   with:
      #     files: |
      #       ${{ steps.build.outputs.SLANG_BINARY_ARCHIVE }}
      #       ${{ steps.build.outputs.SLANG_BINARY_ARCHIVE_TAR }}
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
