# This is a basic workflow to help you get started with Actions

name: Full GPU Tests (Windows)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: [Windows, self-hosted]
    timeout-minutes: 100
    continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        configuration: ['Release']
        platform: ['x64']
        include:
          - platform: x64
            testPlatform: x64
          - platform: x64
            testCategory: full
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
        fetch-depth: '0'
    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v1
    - name: build
      run: |
        .\premake.bat vs2019 --arch=${{matrix.platform}} --deps=true --no-progress=true --enable-cuda=true
        
        .\make-slang-tag-version.bat
        
        MSBuild.exe slang.sln -v:m -m -property:Configuration=${{matrix.configuration}} -property:Platform=${{matrix.platform}} -maxcpucount:12
    - name: test-spirv-direct
      run: |
        $ErrorActionPreference = "SilentlyContinue"
        where.exe spirv-dis
        spirv-dis --version
        $env:SLANG_RUN_SPIRV_VALIDATION='1'
        .\bin\windows-${{matrix.testPlatform}}\${{matrix.configuration}}\slang-test.exe tests/ -use-test-server -server-count 8 -emit-spirv-directly -expected-failure-list tests/expected-failure.txt -api vk 2>&1
      
    - name: test
      run: |
        $ErrorActionPreference = "SilentlyContinue"
        .\bin\windows-${{matrix.testPlatform}}\${{matrix.configuration}}\slang-test.exe -use-test-server -server-count 8 -api all-cpu
      
